---
import Copyright from '@/assets/Copyright.astro'

const year = new Date().getFullYear()
---

<footer class='bg-zinc-100 [grid-area:footer] py-8 px-14'>
  <section class='flex gap-1 text-zinc-400 items-center text-balance'>
    <Copyright />
    {year}. Bloginary. Make with love ❤️
  </section>
</footer>
