---
interface Props {
  id: number
  title: string
  summary: string
}

const { id, title, summary } = Astro.props
---

<a
  href={`blogs/${id}`}
  class='flex flex-col w-auto backdrop-blur-lg border border-zinc-200 p-4 rounded-lg shadow-xl'
>
  <span class='text-2xl font-semibold'>{title}</span>
  <div
    class='text-balance'
    set:html={summary.length > 150 ? summary.slice(0, 150) + '...' : summary}
  />
</a>
