---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  imagePath: string
}

const { imagePath } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/public/*.{jpeg,jpg,png,gif}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/public/*.{jpeg,jpg,png,gif}"`
  )
---

<div class='aspect-square w-36 shadow rounded-full bg-white p-6'>
  <Image src={images[imagePath]()} alt={'altText'} class={'rounded-lg'} />
</div>
